<div id="banner" class="sign_up_banner">
  <div class="wrapper_skinny">
    <h1>New Episode</h1>
  </div>
</div>

<div id="form">
  <div class="wrapper_skinny">
    <%= render 'form' %>
  </div>
</div>