<%= form_for([@video, @video.video_comments.build]) do |f| %>
  <div class="field">
    <%= f.text_area :video_comment %>
  </div>
  <div class="actions">
    <%= f.submit "Reply", class: "button button_highlight button_block" %>
  </div>
<% end %>