<div id="background">
  <header class="cf">
    <div class="wrapper_wide">
	  	<%= link_to "Teamcc", root_path, id: "logo" %>
	  	<nav>
	  		<ul>
	  			<li><a href="#">Discussions</a></li>
	  			<li><%= link_to "Videos", videos_path %></li>
	  			<li><a href="#">Programs</a></li>
  			  <li><a href="#">Sign in</a></li>
	  		</ul>
	  	</nav>
	  </div>
  </header>
  <div class="wrapper_skinny">
	  <h1>Get help and advice on exercise, nutrition and mobility</h1>
  	<a href="#" class="button button_highlight">Join the Team</a>
	</div>
</div>