<%= form_for([@forum, @forum.forum_comments.build]) do |f| %>
  <div class="field">
    <%= f.text_area :forum_comment %>
  </div>
  <div class="actions">
    <%= f.submit "Reply", class: "button button_highlight button_block" %>
  </div>
<% end %>