.comments {
	.comment_count, .comment_content h2, .reply {
		margin: 0;
    font-size: 1.25rem;
		font-weight: 400;
		color: $dark;
	}
	.comment_count {
		padding: 0 0 1rem;
		border-bottom: 1px solid #E9E9E9;
	}
	.forum_comment, .video_comment {
		padding: 2rem 0;
		border-bottom: 1px solid #E9E9E9;

	  &:target {
	  	background: rgba(135,216,211,.15);
	  	padding: 2rem 5%;
	  	transition: .5s ease;
	  }

		.user_image {
			width: 6.5%;
  		float: left;
		}
		.comment_content {
			width: 91%;
  		margin-left: 2.5%;
  		float: left;
  		h2 {
	  		&::first-letter {
	        text-transform: uppercase;
		  	}
  		}
			.comment_meta {
			  margin: 0 0 3rem;
			  font-size: .9rem;
			  font-weight: 300;
			}
			.comment_text {
				h1, h2, h3 {
  				font-weight: 400;
  				color: $dark;
  				margin: 1rem 0;
  			}
  			h2 {
  				font-size: 1.5rem;
  			}
  			h3 {
  				font-size: 1.25rem;
  			}
				p {
					font-weight: 300;
					line-height: 1.8;
					margin: 0 0 1.5rem; 
					&:last-child {
  					margin-bottom: 0;
  				}
  				a {
  					color: $highlight;
  					text-decoration: none;
  				}
				}
			}
		}
	}

  .forum_comment_background, .video_comment_background {
  	background: $white !important;
  	padding: 2rem 0 !important;
  }

	.reply {
    padding-top: 4rem;
	}
	form {
		.actions {
			margin-bottom: 2.5rem;
		}
	}
}