#video_show {
	padding: 0 0 4rem;
	#video_show_wrapper {
		padding: 4rem 0;
		margin-bottom: 4rem;
		background: $light;
		.video {
			width: 60%;
			max-width: 960px;
			float: left;
			margin-right: 5%;
			background: lighten($text, 25%);
			border: 1rem solid lighten($text, 25%);
			border-radius: .35rem;
			box-sizing: border-box;
			.video_show_inner_wrapper {
        position: relative;
			  width: 100%;
			  height: 0;
			  padding-bottom: 56.25%; /* =540/960*100 */
			  iframe {
				  position: absolute;
				  top: 0;
				  left: 0;
				  width: 100%;
				  height: 100%;
				}
			}
		}
		#video_content {
			width: 35%;
		  float: left;
		  h1 {
		  	margin: 0;
		  	font-size: 1.75rem;
		  	font-weight: 400;
		  	color: $dark;
		  }
		  #description {
		  	margin: 1rem 0 2rem;
		  	font-weight: 300;
		  	line-height: 1.6;
		  }
		  #category {
		  	text-decoration: none;
  			color: $text;
  			border: 2px solid lighten($text, 25%);
  			border-radius: 2rem;
  			padding: .3rem .8rem;
  			display: inline-block;
  			transition: color .4s ease-in-out, border-color .4s ease-in-out;
  			&:hover {
  				color: $highlight;
  				border-color: $highlight;
  			}
		  }
		  hr {
		  	margin: 2.5rem 0;
			  width: 20%;
			  border: 2px solid lighten($text, 25%);
		  }
		  .edit_link, .delete_link {
        color: $text;
        &:hover {
        	color: darken($text, 20%);
        }
		  }
		}
	}
	.comments {
		width: 90%;
	  max-width: 900px;
	  margin: 0 auto;
	  padding: 0 2.5%;
	  background: #FFFFFF;
	  box-sizing: border-box;
	  .no_content {
	  	margin: 2rem 0 0;
	  }
	  form {
			.actions {
				margin-bottom: 0;
			}
		}
	}
}